{{!< default}}
{{#if raceSubmitted}}
    <div class="jumbotron text-center">
        <h1>Success!</h1>
        {{#if user}}
            <p>Head over to the Admin UI to see your race.</p>
        {{else}}
            <p>You need to be <a href="/keystone/signin">signed in</a> to view races.</p>
        {{/if}}
    </div>
{{else}}
    <div class="page-header">
        <a href="/keystone/races" class="btn btn-lg btn-primary">{{#if user}}View races{{else}}Sign in to see races{{/if}}</a>
    </div>
    <form method="post">
        <input type="hidden" value="submitRace">
        <div class="form-group">
            {{!-- {{#if validationErrors.name}} --}}
            <label for="date" class="col-sm-2 control-label">Date</label>
            <input type="text" name="date" class="form-control" required>
        </div>
        <button type="submit">Submit</button>
    </form>
{{/if}}